<template>
	<form role="form" action="" method="POST">
	    <div class="form-group row">
	      <label for="inputEmail3" class="col-sm-2 form-control-label">Title</label>
	      <div class="col-sm-10">
	        <input v-model="title" name="title" type="text" class="form-control" id="inputEmail3" >
	      </div>	        
	    </div>
	    <div class="form-group row">
	      <label for="inputEmail3" class="col-sm-2 form-control-label">Image</label>
	      <div class="col-sm-10">
	      	<img class="thumb" style="height:auto;max-width:150px;" v-if="thumb_path" v-bind:src="'/' + thumb_path " />
	        <input @change="clearImg"  name="link" type="file" class="form-control" id="inputEmail3" >
	      </div>
	    </div>
	    <div class="form-group row">
	      <label for="inputEmail3" class="col-sm-2 form-control-label">Link</label>
	      <div class="col-sm-10">
	        <input v-model="link" name="link" type="text" class="form-control" id="inputEmail3" >
	      </div>
	    </div>
	    <div class="form-group row">
	      <label for="inputEmail3" class="col-sm-2 form-control-label">Copy</label>
	      <div class="col-sm-10">
	      <textarea v-model="copy" name="copy" type="text" class="form-control" ></textarea>
	      </div>
	    </div>	      	                                                        
	    <div class="form-group row m-t-md">
	      <div class="col-sm-offset-2 col-sm-10">
	        <button v-if="!editing" type="submit" @click.prevent="save" class="btn white">Add</button>
	        <button v-else type="submit" @click.prevent="update" class="btn white">Update</button>
	      </div>
	    </div>
	  </form>	
</template>

<script>
export default {

  name: 'frEdit',
  props: [ 'emailId', 'editing', 'http' ],
  methods: {
  	clearImg() {
  		if( this.thumb_path ){
  			this.thumb_path = null
  		}
  	},
	save() {		
		console.log(this.$el.querySelector('input[type="file"]').files[0])
		var data = new FormData();
        data.append('email_id', this.emailId);
        data.append('link', this.link);
        data.append('title', this.title);
        data.append('copy', this.copy);
        data.append('file', this.$el.querySelector('input[type="file"]').files[0]);
        
		axios.post('/furtherReading/' + this.emailId , data ).then( () => {
			this.$emit('reading-saved')
		})
	},
	update() {
		var data = new FormData();
        data.append('email_id', this.emailId);
        data.append('link', this.link);
        data.append('title', this.title);
        data.append('copy', this.copy);
        data.append('file', this.$el.querySelector('input[type="file"]').files[0]);
		this.http.updateFurtherReadingById(this.editing.id, data)
		.then( () => {
			this.$emit('reading-saved')
		})
	}
  },
  mounted(){
  	if(this.editing) {
  		this.id = this.editing.id
  		this.title = this.editing.title
		this.link = this.editing.link
		this.copy = this.editing.copy
		this.email_id = this.editing.email_id
		this.thumb_path = this.editing.thumb_path
  	}
  },
  data () {
     return {
     	id: null,
     	email_id: null,
		title: '',
		link: '',
		copy: '',
		thumb_path: null
    };
  }
};
</script>

<style lang="css" scoped>
</style>