<template>
	<div class="box">
		<div class="table-responsive">
			<table ui-jp="dataTable" ui-options="{'bPaginate':true}" class="table table-striped b-t b-b">
				<thead>
					<tr>
						<th  style="width:20%">Title</th>																
						<th  style="width:20%">Action</th>								
					</tr>
				</thead>
				<tbody>					
						<tr v-for="reading in readings">
							<td> {{reading.title}}</td>
							<td>
								<a href="#" @click.prevent="edit(reading.id)" class="btn btn-default">Edit</a>
								<a href="#" @click.prevent="promptDelete(reading.id)" class="btn btn-default">Delete</a>
								<!-- <a href="#" class="btn btn-default">Delete</a> -->
							</td>
						</tr>					
				</tbody>
			</table>
		</div>
	</div>
</template>

<script>
import {EventBus} from '../classes/EventBus'
export default {

  name: 'frList',
  props: ['emailId', 'readings'],
  mounted() {
  	
  }, 
  methods: {
  	edit( id ) {
  		this.$emit('edit-reading', id)
  	},
  	promptDelete( id ) {
  		EventBus.$emit('delete-prompt', {url: '/furtherReading/delete/' + id})
  	}
  },
  data () {
    return {		
		
    };
  }
};
</script>

<style lang="css" scoped>
</style>