<template>
	<div class="box">
	  <div class="box-header">
	    <h2>Further reading</h2>
	    <small>Enter data used to populate an email here.</small>
	   	<button v-if="editing" @click="cancel" class="btn btn-default pull-right">Cancel</button>
	   	<button v-else @click="edit" class="btn btn-default pull-right">Add New +</button>
	   	<div class="clearfix"></div>
	  </div>
	  <div class="box-body">
	  <!-- // ewdwkme -->    
	  <fr-edit @reading-saved="refresh" :http="http" v-if="editing" :editing="itemToEdit" :email-id="emailId"></fr-edit>
	  <fr-list @edit-reading="editById"  :readings="readings" v-else :email-id="emailId"></fr-list>
	  </div>
    <prompt></prompt>
	</div>
</template>

<script>
var frEdit = require('./frEdit.vue')
var frList = require('./frList.vue')
var AjaxProvider = require('../classes/AjaxProvider').AjaxProvider
var EventBus = require('../classes/EventBus').EventBus
var Prompt = require('./Prompt.vue')
export default {	
  name: 'FurtherReading',
  components: {
	frEdit,
	frList,
  Prompt	
  },
  props: ['emailId'],
  methods: {
  	getReadings() {
  		this.http.getFurtherReadingsForEmail( this.emailId )
  		.then( data => {
  			this.readings = data.data.data
  		})
  	},
  	cancel() {
  		this.editing = false
  	},
  	edit() {
  		this.editing = true
  	},
  	editById( id ){
  		this.itemToEdit = this.readings.filter( item => {
  			return item.id === id
  		})[0]
  		this.editing = true
  	},
  	refresh() {
  		this.getReadings()
  		this.editing = false
  	}
  },
  mounted(){
  	this.getReadings()
    EventBus.$on('data-changed', () => {
      this.getReadings()
    })
  },
  watch: {
  	editing: function(val, oldVal) {
  		if( val === false) {
  			this.itemToEdit = null
  		}
  	}
  },
  data () {
    return {
		editing: false,
		itemToEdit: null,
		readings: [],
		http: new AjaxProvider()
    };
  }
};
</script>

<style lang="css" scoped>
</style>