<template>
	<div v-if="open" class="prompt">
		<div class="prompt_inner">
			<div>
				<h2>Are You Sure?</h2>
				<p>You are about to permanently Delete this item and all of its associated data. </p>
				<button @click.prevent="close" class="btn btn-default">Cancel</button>
				<button @click.prevent="deleteItem" class="btn btn-danger">Delete</button>				
			</div>
		</div>
	</div>
</template>

<script>
import {EventBus} from '../classes/EventBus'
import {AjaxProvider} from '../classes/AjaxProvider'
export default {
  name: 'Prompt',
  props: ['itemId', 'action' ],
  methods: {
  	close() {
  		this.open = false
  	},
  	deleteItem() {
  		this.http.deleteItem( this.url )
  		.then( data => {
  			EventBus.$emit('data-changed')
  			this.open = false
  		})
  	}
  },
  mounted() {
	EventBus.$on('delete-prompt', (data) => {
	  this.open = true
	  this.url = data.url
	})
  },
  data () {
    return {
    	open: false,
    	http: new AjaxProvider(),
    	url: null
    };
  }
};
</script>

<style>
.prompt{
		position: absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		z-index: 1000;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: rgba( 0, 0, 0, 0.10 );
	}
	.prompt_inner {
		background-color: #fff;
		width: 80%;
		max-width: 400px;
		min-height: 200px;
		padding: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
</style>